<div>
  <save-button-dialog #saveDialog (onSavedEvent)="saveBrieferFile($event)" />
  <show-code-dialog #codeDialog [codeToShow]="codeToShow()" [sideReadable]="sideReadable()" [targetFilepath]="codeFilepath()" />
  <div class="flex gap-2">
    <button
      class="briefer-button px-2 py-1"
      (click)="loadFromFile()">
      <span class="mr-2">📂</span>
      <span>Load from file...</span>
    </button>
  
    <button
      class="briefer-button px-2 py-1"
      (click)="showSaveDialog()">
      <span class="mr-2">💾</span>
      <span>Save Briefer file</span>
    </button>
  
    <button
      class="briefer-button px-2 py-1"
      (click)="generateSqfBriefing()">
      <span class="mr-2">📜</span>
      <span>Generate SQF briefing</span>
    </button>
  
    <button
      class="briefer-button px-2 py-1"
      (click)="startFromScratch()">
      <span class="mr-2">🚽</span>
      <span>Start from scratch</span>
    </button>

    <side-picker />
  </div>
</div>
