<dialog #codeDialog class="dialog p-6 briefer-tile-dark shadow-xl rounded-sm w-1/2 h-3/4 gap-4">
  <div class="flex flex-col gap-6 h-full">
    <div class="flex-none">
      <p class="text-center text-lg font-bold">Here's your generated briefing code.  You can copy this into a SQF file and add it to your framework.</p>
      <p class="text-center pt-3">Your briefing is marked as <span class="font-bold">{{sideReadable()}}</span>.</p>
      <p class="text-center">In the CA CAFE framework, you should paste this code into the <span class="font-mono bg-neutral-700 rounded-sm px-1">{{targetFilepath()}}</span> file.</p>
    </div>
    <div class="grow">
      <textarea #codeArea type="text" class="briefer-textarea p-4 font-mono text-sm h-full w-full" [value]="codeToShow()" readonly="true"></textarea>
    </div>
    <div class="grid grid-cols-2 gap-3 flex-none">
      <button class="briefer-button-inpanel p-1" (click)="onCopyClicked()">
        <span class="mr-2">📋</span>
        <span>Copy to clipboard</span>
      </button>
      <button class="briefer-button-inpanel" (click)="onCloseClicked()">Close</button>
    </div>
  </div>
</dialog>
