<div class="bg-neutral-400 pt-6 pb-3 flex-col">
  @for (item of items(); track getIdentifier(item)) {
    <div>
      <button 
        class="w-full flex px-3"
        [class.bg-neutral-300]="getIdentifier(item) === selectedItemId"
        (click)="buttonClicked($event, item)">
        @if (getIdentifier(item) === selectedItemId) 
        {
          <briefing-input-editor [text]="getDisplayText(item)" (onTextChanged)="displayTextEdited($event)" />
        }
        @else
        {
          <span class="align-left">{{getDisplayText(item)}}</span>
        }
      </button>      
    </div>
  }
  <div class="grid">
    <button 
      class="px-3 mt-3 mx-3 briefer-button"
      (click)="addButtonClicked($event)">
      <span>+</span>
    </button>      
  </div>
</div>
