<div>
  <div class="bg-neutral-400 py-6 flex-col">
    @for (item of items(); track getIdentifier(item)) {
      <div>
        <button 
          class="w-full flex px-3"
          [class.bg-neutral-300]="getIdentifier(item) === selectedItemId()"
          (click)="buttonClicked($event, item)">
          @if (getIdentifier(item) === selectedItemId()) 
          {
            <briefing-input-editor [text]="getDisplayText(item)" (onTextChanged)="displayTextEdited($event, item)" (onload)="focusInputEditor()"/>
          }
          @else
          {
            <span class="align-left">{{getDisplayText(item)}}</span>
          }
        </button>      
      </div>
    }
  </div>
  <div class="flex">
    <div class="grid grid-cols-2 my-2">
      <button title="Add new"
        class="me-1 p-1 pt-0 briefer-button"
        (click)="addButtonClicked($event)">
        <span>➕</span>
      </button>
      <button title="Remove selected"
        [disabled]="selectedItemId() == null"
        class="ms-1 p-1 pt-0 briefer-button"
        (click)="removeButtonClicked($event)">
        <span>➖</span>
      </button>
    </div>
  </div>
</div>