<div>
  <div class="briefer-tile py-4 grid">
    @for (item of items(); track getIdentifier(item)) {
        <button 
          class="w-full ps-5"
          [class.briefer-tile-highlight]="getIdentifier(item) === selectedItemId()"
          (click)="buttonClicked($event, item)">
          @if (getIdentifier(item) === selectedItemId()) 
          {
            <briefing-input-editor [text]="getDisplayText(item)" (onTextChanged)="displayTextEdited($event, item)" (onload)="focusInputEditor()"/>
          }
          @else
          {
            <span class="float-left">{{getDisplayText(item)}}</span>
          }
        </button>
    }
  </div>
  <div class="flex">
    <div class="grid grid-cols-2 my-2">
      <button title="Add new"
        class="me-1 p-1 pt-[2px] briefer-button text-base"
        (click)="addButtonClicked($event)">
        <span>➕</span>
      </button>
      <button title="Remove selected"
        [disabled]="selectedItemId() == null"
        class="ms-1 p-1 pt-[2px] briefer-button text-base"
        (click)="removeButtonClicked($event)">
        <span>➖</span>
      </button>
    </div>
  </div>
</div>