<div class="flex bg-neutral-800">
    <div class="title-text flex-grow mx-6 my-4">
        <span class="text-4xl font-bold font-mono text-neutral-200">Briefer</span><span class="text-xl text-neutral-500">  for Arma 3</span>
    </div>
    <a href="https://slotting.combinedarms.co.uk" class="title-ca flex header-link">
        <div class="text-sm my-auto"><div>For missionmakers,</div><div class="mb-1">by the CA community</div></div>
        <div class="m-3 ml-0"><img priority ngSrc="ca_white.png" width="150" height="50"></div>
    </a>
</div>