<div class="pt-2 w-full flex">
  <button
    (click)="onFontClicked()"
    class="briefer-button-inpanel me-2 px-2 py-1"
    title="Change font, colour and size">
    <span class="font-mono">Custom</span><span class="font-bold"> Font</span>
  </button>

  <button
    (click)="onImageClicked()"
    class="briefer-button-inpanel me-2 px-2 py-1"
    title="Add an image">
    <span>🖼️</span>
    <span class="ps-1">Image</span>
  </button>

  <button
    (click)="onMarkerClicked()"
    class="briefer-button-inpanel me-2 px-2 py-1"
    title="Zoom into map marker">
    <span>🚩</span>
    <span class="ps-1">Marker</span>
  </button>

  <a href="https://community.bistudio.com/wiki/createDiaryRecord" target="_blank" class="place-self-center flex-grow text-end">Reference guide for tags - BI Wiki</a>
</div>
