<div class="briefer-tile-light h-full ps-2 flex">
  <span class="pe-2 self-center">Side:</span>
  <button
    class="briefer-button-inpanel me-1 p-[1px]"
    [class.briefer-button-inpanel-light]="side()===briefingSide.West"
    (click)="onSideClicked(briefingSide.West)"
    title="West (e.g. NATO)">
    <img ngSrc="nato-light.png" width="30" height="30">
  </button>
  <button
    class="briefer-button-inpanel me-1 p-[1px]"
    [class.briefer-button-inpanel-light]="side()===briefingSide.East"
    (click)="onSideClicked(briefingSide.East)"
    title="East (e.g. CSAT)">
    <img ngSrc="csat-light.png" width="30" height="30">
  </button>
  <button
    class="briefer-button-inpanel me-1 p-[1px]"
    [class.briefer-button-inpanel-light]="side()===briefingSide.Independent"
    (click)="onSideClicked(briefingSide.Independent)"
    title="Independent (e.g. AAF)">
    <img ngSrc="aaf-light.png" width="30" height="30">
  </button>
  <button
    class="briefer-button-inpanel me-1 p-[1px]"
    [class.briefer-button-inpanel-light]="side()===briefingSide.Civilian"
    (click)="onSideClicked(briefingSide.Civilian)"
    title="Civilian">
    <img ngSrc="civ-light.png" width="30" height="30">
  </button>
</div>
