<div #mainDiv class="briefer-text-editor briefer-tile p-6">
  <!-- Thanks to https://chriscoyier.net/2023/09/29/css-solves-auto-expanding-textareas-probably-eventually/ -->
  <textarea #textEditor 
    class="briefer-textarea"
    (input)="updateHeight()"
    (change)="onChange(textEditor.value)" 
    [value]="text()">
    </textarea>

  <briefing-text-editor-controls 
    (markerClickEvent)="onMarkerClicked()"
    (imageClickEvent)="onImageClicked()"
    (fontClickEvent)="onFontClicked()"/>
</div>
