/* Thanks to https://chriscoyier.net/2023/09/29/css-solves-auto-expanding-textareas-probably-eventually/ */
.briefer-text-editor {
    display: grid;
}
.briefer-text-editor:after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}
.briefer-text-editor > textarea {
    resize: none;
}
.briefer-text-editor > textarea,
.briefer-text-editor::after {
    padding: 4px;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
}