<dialog #saveDialog class="dialog p-6 briefer-tile-dark shadow-lg rounded-sm">
  <div>
    Save with filename:
  </div>
  <div>
    <input #filenameInput type="text" class="briefer-text-input my-3"/>
  </div>
  <div class="grid grid-cols-2 gap-3">
    <button class="briefer-button-inpanel p-1" (click)="onSaveClicked()">
      <span class="mr-2">💾</span>
      <span>Save</span>
    </button>
    <button class="briefer-button-inpanel" (click)="onCancelClicked()">Cancel</button>
  </div>
</dialog>
