<dialog #saveDialog class="dialog p-6 bg-neutral-200 shadow-lg rounded-sm">
  <div>
    Save with filename:
  </div>
  <div>
    <input #filenameInput type="text" class="briefer-text-input bg-neutral-100 mb-4 mt-2"/>
  </div>
  <div class="grid grid-cols-2 gap-3">
    <button class="briefer-button bg-neutral-100 p-1" (click)="onSaveClicked()">
      <span class="mr-2">💾</span>
      <span>Save</span>
    </button>
    <button class="briefer-button bg-neutral-100" (click)="onCancelClicked()">Cancel</button>
  </div>
</dialog>
