/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@layer components {
    .briefer-button {
        background-color: var(--color-neutral-400);
        box-shadow: var(--shadow-md);
        border-width: 1px;
        border-color: var(--color-neutral-300);
        justify-content: center;
    }
    .briefer-text-input {
        background-color: var(--color-neutral-200);
        box-shadow: inset 1px 1px 4px var(--color-neutral-300);
        border-width: 1px;
        padding-left: 4px;
        border-color: var(--color-neutral-400);
        justify-content: center;
    }
}