/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@layer components {
    .briefer-button {
        background-color: var(--color-neutral-400);
        box-shadow: 1px 1px 4px var(--color-neutral-700);
        justify-content: center;
    }
    .briefer-button-light {
        background-color: var(--color-neutral-300);
        box-shadow: 1px 1px 4px var(--color-neutral-700);
        justify-content: center;
    }
    .briefer-button-border {
        background-color: var(--color-neutral-400);
        box-shadow: 1px 1px 4px var(--color-neutral-500);
        justify-content: center;
        border-width: 1px;
        border-color: var(--color-neutral-500);
    }
    .briefer-button-border-light {
        background-color: var(--color-neutral-300);
        box-shadow: 1px 1px 4px var(--color-neutral-500);
        justify-content: center;
        border-width: 1px;
        border-color: var(--color-neutral-500);
        padding: 2px 4px;
    }
    .briefer-button:disabled {
        background-color: var(--color-neutral-500);
        border-color: var(--color-neutral-400);
    }
    .briefer-text-input {
        background-color: var(--color-neutral-200);
        box-shadow: inset 1px 1px 4px var(--color-neutral-300);
        border-width: 1px;
        padding-left: 4px;
        border-color: var(--color-neutral-400);
        justify-content: center;
    }
    .briefer-textarea {
        background-color: var(--color-neutral-300);
        box-shadow: inset 1px 1px 4px var(--color-neutral-400);
        border-width: 1px;
        border-color: var(--color-neutral-500);
        resize: none;
    }

    a {
        color: var(--color-blue-800);
        text-decoration: underline;
    }
    a:hover {
        color: var(--color-blue-600);
    }
    a:visited {
        color: var(--color-purple-600);
    }

}