/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@layer components {
    .briefer-button {
        background-color: #0009;
        color: white;
        box-shadow: 1px 1px 4px var(--color-neutral-800);
        justify-content: center;
    }
    .briefer-button:hover {
        background-color: #3339;
    }
    .briefer-button-inpanel {
        background-color: #0006;
        color: white;
        justify-content: center;
    }
    .briefer-button-inpanel:hover {
        background-color: #3339;
    }
    .briefer-button-inpanel-light {
        background-color: #8886;
        color: white;
        justify-content: center;
    }
    .briefer-button:disabled {
        background-color: var(--color-neutral-500);
        border-color: var(--color-neutral-400);
    }
    .briefer-text-input {
        border-width: 1px;
        padding-left: 4px;
        border-color: var(--color-neutral-400);
        justify-content: center;
    }
    .briefer-textarea {
        background-color: #4448;
        box-shadow: inset 1px 1px 4px var(--color-neutral-800);
        border-width: 1px;
        border-color: var(--color-neutral-500);
        resize: none;
    }
    .briefer-tile {
        background-color: #0009;
        color: white;
    }
    .briefer-tile-light {
        background-color: #0005;
        box-shadow: 1px 1px 4px var(--color-neutral-800);
        color: white;
    }
    .briefer-tile-highlight {
        background-color: #AAA8;
        color: white;
    }

    .font-roboto {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 14pt;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        font-weight: 400;
    }

    a {
        color: var(--color-blue-400);
        text-decoration: underline;
    }
    a:hover {
        color: var(--color-blue-200);
    }
    a:visited {
        color: var(--color-purple-400);
    }

}