<div>
  <div class="p-6 pb-0">
    <briefing-editor-header />
  </div>
  <div class="flex">
    <briefing-section-list-editor 
      [items]="modelService.model().sections"
      (selectedItemEvent)="sectionSelected($event)" 
      [addNewItemDelegate]="addNewSectionDelegate"
      (removeSelectedItemEvent)="removeSelectedSection()"
      class="w-60 min-w-40 m-6"/>
      
    @if (selectedSection() !== null) {
      <briefing-section-editor 
        [section]="selectedSection()!" 
        class="flex-grow"/>
    }
  </div>
  <button (click)="printModel()">print model</button>
</div>
